.shadow {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.shadow-top {
    box-shadow: rgba(0, 0, 0, 0.12) 0px -1px 6px, rgba(0, 0, 0, 0.12) 0px -1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px -1px 6px, rgba(0, 0, 0, 0.12) 0px -1px 4px;
}

.shadow-bottom {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px, rgba(0, 0, 0, 0.15) 0px 1px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px, rgba(0, 0, 0, 0.15) 0px 1px 6px;
}

.global-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 35;
    background-color: rgba(0, 0, 0, 0.25);
}

.one-line {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*color*/

.text-red {
    color: #f04258;
}

.text-black {
    color: #272636;
}

.text-gray {
    color: #ccc;
}

.text-orange {
    color: #FE5621;
}

.text-white {
    color: white;
}

.text-blue {
    color: #00AAEE;
}

/*background*/

.bg-red {
    background-color: #f04258;
}

.bg-orange {
    background-color: #FE5621;
}

.bg-white {
    background-color: white;
}

.bg-default {
    background-color: #eee;
}

.bg-blue {
    background-color: #00AAEE;
}

/*border*/

.border-red {
    border-color: #f04258;
}

.border-orange {
    border-color: #FE5621;
}

.border-blue {
    border-color: #00AAEE;
}

/**button*/

button[type="red"] {
    color: white;
    background-color: #f04258;
    border-color: #f04258;
}

button[type="black"] {
    color: white;
    background-color: #272636;
    border-color: #272636;
}

button[type="gray"] {
    color: white;
    background-color: #ccc;
    border-color: #ccc;
}

button[type="orange"] {
    color: white;
    background-color: #FE5621;
    border-color: #FE5621;
}

button[type="blue"] {
    color: white;
    background-color: #00AAEE;
    border-color: #00AAEE;
}

button {
    transition: all 0.2s ease-out;
    cursor: pointer;
    display: block;
    text-align: center;
    -webkit-transition: -webkit-box-shadow 0.2s ease-out;
    -moz-transition: -moz-box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
}

button[type="black"]:active {
    background-color: rgba(39, 38, 54, 0.8);
}

button[type="red"]:active {
    background-color: rgba(240, 66, 88, 0.8);
}

button[type="gray"]:active {
    background-color: rgba(204, 204, 204, 0.8);
}

button[type="orange"]:active {
    background-color: rgba(254, 86, 33, 0.8);
}

button[type="blue"]:active {
    background-color: rgba(0, 170, 238, 0.8);
}

/**Android 样式*/

.clickable {
    background-color: white;
    transition: all 0.3s ease-out;
}

.clickable:active {
    background-color: gainsboro;
    transition: all 0.3s ease-out;
}

/**/

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.bunny-text {
    color: #FE5621;
}

.bunny-bg {
    background-color: #FE5621;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: white;
    margin-bottom: 24px;
    word-wrap: break-word;
}

.card-button {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
