/*根字体*/
@media (min-width: 678px) {
    html {
        font-size: 26px;
    }
}

@media (min-width: 376px) and (max-width: 677px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 338px) and (max-width: 375px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 329px) and (max-width: 337px) {
    html {
        font-size: 19px;
    }
}

@media (max-width: 328px) {
    html {
        font-size: 18px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.overScroll {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
}

body {
    font-family: 'Microsoft Yahei', 'LatoRegular', helvetica;;
    color: #4b4b57;
    font-size: 0.625rem;
    line-height: 0.9375rem;
    background-color: #ededed;
}

i, em {
    font-style: normal;
}

input,
button {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: none;
}

input {
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

input, select, textarea, button {
    font-family: 'Microsoft Yahei', 'LatoRegular', helvetica;
    color: #989898;
    height: auto;
}

input:focus, select:focus, textarea:focus {
    border-color: #999;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}

input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

section {
    display: block;
}

ol, ul {
    list-style: none;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #4b4b57;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #4b4b57;
    border: none;
}

body .appMain {
    height: 100%;
    overflow: auto;
}

/*隐藏*/
.hidden {
    display: none !important;
}

/*字体居中或居左*/
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

/*强制一行隐藏*/
.text-hide {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*超出限制*/
.o-hidden {
    overflow: hidden;
}

/*左右分庭*/
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/*上下居中*/
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

/*图片*/
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/***/
span, li, ul, a, button, p, i, h4, h3, h5, h6 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w {
    width: 1024px;
}

.c-h {
    margin: 0 auto;
}