/*根字体*/
@media (min-width: 678px) {
    html {
        font-size: 26px;
    }
}

@media (min-width: 374px) and (max-width: 676px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 365px) and (max-width: 373px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 356px) and (max-width: 364px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 347px) and (max-width: 355px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 338px) and (max-width: 346px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 329px) and (max-width: 337px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 328px) {
    html {
        font-size: 20px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.overscroll {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
}

body {
    font-family: 'Microsoft Yahei', 'LatoRegular', helvetica;;
    color: #4b4b57;
    font-size: 0.625rem;
    line-height: 0.9375rem;
    background-color: #ededed;
}

i, em {
    font-style: normal;
}

input,
button {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: none;
}

input {
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

input, select, textarea, button {
    font-family: 'Microsoft Yahei', 'LatoRegular', helvetica;
    color: #989898;
    height: auto;
}

input:focus, select:focus, textarea:focus {
    border-color: #999;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}

input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

section {
    display: block;
}

ol, ul {
    list-style: none;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #4b4b57;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #4b4b57;
    border: none;
}

body .appMain {
    height: 100%;
    overflow: auto;
}

.w {
    width: 100%;
}

/*-------------------基础通用------------*/
/*---线条---*/
.line {
    border-top: 1px solid #ddd;
}

.line-b {
    border-bottom: 1px solid #ddd;
}

/*--------------------其他通用-----------*/
/*清除*/
.clearfix:before,
.clearfix:after {
    display: block;
    clear: both;
    content: '';
    height: 0;
}

/*隐藏*/
.hidden {
    display: none !important;
}

/*字体居中或居左*/
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

/*强制一行隐藏*/
.text-hide {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*超出限制*/
.o-hidden {
    overflow: hidden;
}

/*圆角*/
.border-round {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 4px;
}

.border-circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -moz-border-radius: 50%;
}

/*分割线*/
hr {
    margin: 0.2rem 0;
}

/*边框颜色*/
.row-border {
    border: 1px solid #ccc;
}

/*左右分庭*/
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/*上下居中*/
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

/*按钮*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: "microsoft yahei";
}

.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active {
    background-image: none;
}

.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active {
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .badge {
    color: #fff;
    background-color: #333;
}

.btn-primary {
    color: #fff;
    background-color: #1ab394;
    border-color: #1ab394;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: #18a689;
    border-color: #18a689;
}

.btn-primary:active {
    background-image: none;
}

.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active {
    background-color: #1dc5a3;
    border-color: #1dc5a3;
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success:active {
    background-image: none;
}

.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    color: #fff;
    background-color: #F04055;
    border-color: #F04055;
}

.btn-warning:active {
    background-image: none;
}

.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: #F04055;
    border-color: #F04055;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    color: #fff;
    background-color: #ec4758;
    border-color: #ec4758;
}

.btn-danger:active {
    background-image: none;
}

.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active {
    background-color: #ef6776;
    border-color: #ef6776;
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}

/*边框*/
.form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 3px;
    margin-bottom: 15px;
}

/*图片*/
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*表格外围框*/
.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    /* padding: 6px 12px; */
    padding: 3px 12px;
    height: 40px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
}

.form-control:focus {
    border-color: #e5e6e7 !important;
    outline: 0;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

/*图片*/
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

/*----------头部导航----------*/
.topHead-nav {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 44;
}

.topHead-btn {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
}

.top-headTitle {
    height: 0;
    margin: 0 60px;
    line-height: 45px;
    text-align: center;
}

/*-------底部导航-------*/
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 35;
}

/*动画*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

/***/
span, li, ul, a, button, p, i {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}